# Set
* Set are unordered collections of unique elements. They are similar to lists in terms of storing elements, but unlike lists, sets cannot contain duplicate entries.

In [1]:
Set = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 }
print(type(Set))
print(Set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

# Add(+)
* The add fuction is use to add elements in sets.

In [2]:
S1 = {1,2,3,4,5,6}
S1.add(7)
print(S1)

{1, 2, 3, 4, 5, 6, 7}

# Eq (==)
* The eq function is use to compair the sets.

In [6]:
S1 = {1,2,3,4,5,6,7,8,9 }
S2 = {'a'}
S3 = {'a'}
S2==S3

True

# Copy
* The copy function use to capy the set.

In [7]:
S2 = {'A','B','C','D','E'}
print(S2)
S2.copy()

{'D', 'B', 'E', 'C', 'A'}

{'A', 'B', 'C', 'D', 'E'}

# Clear
* The clear function is ude to remove all element from the set.

In [8]:
S3 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}
S3.clear()
print(S3)

set()

# Difference
* The difference function is use to calculte the diffrece between sets. it represent the only first set.

In [9]:
S7 = {1,2,3,4}
S8 = {3,6,9,12}
difference = S7 - S8
print(difference)

{1, 2, 4}

In [10]:
difference1 = S7.difference(S8)
print(difference1)

{1, 2, 4}

# Difference_update
* The difference_update is use to remove the element that are already present in another set.

In [12]:
S9 = {'A','B','C','D','E','F'}
S10 = {'a','B','c','D','e','F'}
S9.difference_update(S10)
print(S9)

{'E', 'C', 'A'}

# Discard
* The discard function is use remove element of the set.

In [14]:
S11 = {40,50,60,70,80,90}
S11.discard(70)
print(S11)
S11

{80, 50, 40, 90, 60}

{40, 50, 60, 80, 90}

In [15]:
s11 = {1,2,3,4,5,6,7}
s11.discard(6)
print(s11)
s11

{1, 2, 3, 4, 5, 7}

{1, 2, 3, 4, 5, 7}

# Intersection
* Return the intersection of two sets as a new set.

In [17]:
S12 = {1,2,3,4,5,6,7,8}
S13 = {3,6,9,12,15,18}
S12.intersection(S13)

{3, 6}

# Intersection_update
* The intersection_update is use to remove the element that are not present in another set.

In [18]:
S14 = {'A','B','C','D','E'}
S15 = {'A','b','B','c','d'}
S14.intersection_update(S14)
S14

{'A', 'B', 'C', 'D', 'E'}

# Pop
* It Removes and returns an arbitrary element from the set.

In [19]:
S16 = {11,22,33,44,55,66,77,88,99}
S16.pop()
S16

{11, 22, 44, 55, 66, 77, 88, 99}

# Union
* Return the union of sets as a new set.

In [20]:
S17 = {1,2,3,4,5,6,7,8,9,10,11}
S18 = {1,3,4,6,11,14,15,16,17,19}
S17.union(S18)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19}