# Indexing
* Access individual elements of a tuple using square brackets []

In [1]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
print(my_tuple[0])

1

# Slicing
* Extract a subset of elements from a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [4]:
print(my_tuple[1:8])

(2, 3, 4, 5, 6, 7, 8)

# Length
* Get the number of elements in a tuple using the len() function.

In [5]:
my_tuple = (1, 2, 3, 4, 5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
print(len(my_tuple))

9

# Concatenation
* Concatenate two tuples using the + operator.

In [7]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Repetition
* Repeat a tuple for a given number of times using the * operator.

In [8]:
my_tuple = (1,2,3,4,5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
repeated_tuple = my_tuple * 5
print(repeated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# Count
* Count the occurrences of a specific element in a tuple using the count() method.

In [10]:
my_tuple = (1,2,3,4,5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
print(my_tuple.count(5))

1

# SORTED
* This method takes a tuple as an input and returns a sorted list as an output

In [12]:
my_tuple = (1,2,3,4,5,6,7,8,9,10,24,38,55,80,100)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 24, 38, 55, 80, 100)

In [13]:
my_tuple2 = sorted(my_tuple)

In [14]:
my_tuple2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 24, 38, 55, 80, 100]